// Show image for step 1 and step 2

@mixin show-image($a, $b, $c) {
  @include size($a, $b);
  background: url($c);
  background-repeat: no-repeat;
}

// Border and border-radius

@mixin border-border-radius($a, $color, $b) {
  border: $a solid $color;
  border-radius: $b;
}

// CSS for text

@mixin text($size, $weight, $color, $transform, $decoration, $align) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-transform: $transform;
  text-decoration: $decoration;
  text-align: $align;
}