 
 //CSS for navigation

.navigation {
  .next-step {
    text-align: center;
    @include button-variant(white, $black, $black);
    @include button-size(15px, 15px, 20px, auto, 5px);
    @include size(150px, 50px); 
  }
  .next-step:hover {
    @include box-shadow(0 0 10px 5px gray);
  }
}       