.radio-inline {
	input {
		visibility: hidden;
		position: absolute;
	}
	img {
		@include size(100px,100px);
	}
	img:hover {
		@include scale(1.3);
		@include box-shadow(0px, 0px, 5px, 3px, $darkpink);
	}
	input:checked + img	{
		border: 5px solid $darkpink;
	}	
}