// CSS for steps status

.progressbar {
  overflow: hidden;
  //CSS counters to number the steps
  counter-reset: step;
}

// CSS for li tags

.progressbar li {
  padding-top: 10px;
  float: left;
  position: relative;
  @include size(20%, 60px);
}

// CSS for content before li tags

.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  display: block;
  margin: 0 auto 5px auto;
  @include button-size(0px, 15px, 20px, 40px, 20px); 
  @include button-variant(white, $black, $black);
}

//CSS for content after li tags
.progressbar li:after {
  content: '';
  @include size(100%, 5px);
  background:  $black;
  position: absolute;
  left: -50%;
  top: 27px;
  z-index: -1; 
}

// CSS for content the last li tag

.progressbar li:first-child:after {
  content: none; 
}

// CSS for li tags which visited
.progressbar li.visited:before,
.progressbar li.visited:after {
  @include button-variant(white, $darkpink, $darkpink);
}

// CSS for li tags which is actived 

.progressbar li.active:before {
  @include box-shadow(0 0 5px 5px $gray);
}