
// Content main of step pages

.main {

  // CSS for container

	.container {	
		padding: 50px;
		
    // CSS for section title of step pages

		.title {
      margin-bottom: 50px;
      .title-head {
        @include text(36px, bold, $black, none, none, center);
      }
      a {
        @include text(16px, bold, $darkpink, none, none, none);
      }
    }

    // CSS for content measurements

    .show-content-measurements {
      margin-top: 50px;
      .row {
        margin: 50px 0px 70px 0px;
        @include border-border-radius(1px, $black, 10px);

        // CSS for name steps

        .name-steps {
        font-size: 24px; 
        padding: 10px 0px 0px 30px;
        margin-bottom: 50px;
        @include button-variant(white, $black, $black); 
        @include size(100%, 50px); 
        @include border-top-radius(7px); 
        }
      
        // CSS for measurement name

        .name-measurement {
          margin: 0px 0px 50px 10px;
          padding-left: 100px;
          @include text(30px, bold, $black, none, none, none);
        }

        // CSS for measurement value

        .value-measurement {
          margin: 0px 0px 50px 150px;
          section {
           margin-bottom: 20px;
          }
        }
      }
    }
	}
}













