
// CSS for section footer

.footer {
	background-color: $black;

  // CSS for section news groups

	.list-group-item {
    background: none;
    border: none;
  }

  // CSS for your account

  .title-news {
    @include text(20px, none, white, uppercase, none, center);
    border-bottom: 1px solid $darkpink;
    padding: 10px 0px;
  }
}