
// CSS for section header

.header {
	background: $black;
	padding: 20px 0px 5px 0px;

  // CSS for logo

  .logo a {
    @include show-image(280px, 100px, '../images/logo.png');
  }

  // CSS for menu
  
	.nav-pills {
    margin-top: 35px;
    .dropdown-menu a:hover {
      color: $darkpink;
    }
  }
}
